# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Environment variables
.env

# SQLite database
*.sqlite3
*.db
/backups/

# Backup files
*.bak
*.swp
*.tmp

# IDE folders
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db
node_modules
.env*
